<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Native Device Controls</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="call">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="sms">
      <ion-icon name="text"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="speech">
      <ion-icon name="mic"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="text">
      <ion-icon name="volume-up"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">

    <ion-list *ngSwitchCase="'call'">
      <ion-item no-padding>
        <ion-label floating>Phone Number</ion-label>
        <ion-input type="text" name="phone" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>
      <button ion-button icon-left block [disabled]=!phoneNumber (click)="callNumber()">
        <ion-icon name="call"></ion-icon> Call
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'sms'">
      <ion-item no-padding>
        <ion-label floating>Phone Number</ion-label>
        <ion-input name="phone" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Message</ion-label>
        <ion-textarea name="message" row="5" [(ngModel)]="message"></ion-textarea>
      </ion-item>
      <button ion-button icon-left block [disabled]=!phoneNumber (click)="sendTextMessage()">
        <ion-icon name="send"></ion-icon> Send
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'speech'">
      <button ion-button (click)="startListening()">Start Listening </button>
      <button ion-button (click)="stopListening()">Stop Listening </button>

      <ion-card *ngIf="speechList">
        <ion-card-content>
          <p *ngFor="let speech of speechList">
            {{speech}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'text'">
      <ion-item no-padding>
        <ion-label floating>Text</ion-label>
        <ion-textarea row="5" [(ngModel)]="speechText"></ion-textarea>
      </ion-item>
      <button ion-button block (click)="sayText()" [disabled]=!speechText>Speak Now</button>
    </ion-list>
  </div>

  <br>
  <hr />
  <br>
  <button ion-button (click)="showFingerPrintDailog()">Show Finger Print</button>

  <button ion-button (click)="vibrate()">Vibrate Now</button>

  <ion-card *ngIf="barcodeResults">
    <ion-card-content>
      <p>
        <strong>Text:</strong> {{barcodeResults.text}}</p>
      <p>
        <strong>Format:</strong>{{barcodeResults.format}}</p>
      <p>
        <strong>Cancelled:</strong> {{barcodeResults.cancelled}}</p>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <button ion-button (click)="scanBarcode()">Scan</button>
    <button ion-button (click)="encodeData()">Encode</button>
  </ion-row>

  <ion-range min="10" max="100" step="10" [(ngModel)]="brightnessValue" (ionChange)=setBrightness()>
    <ion-icon small range-left name="sunny"></ion-icon>
    <ion-icon range-right name="sunny"></ion-icon>
  </ion-range>

  <ion-item>
    <ion-label>Sleep Screen</ion-label>
    <ion-toggle [(ngModel)]="screenSleep" (ionChange)=setKeepScreenOn()></ion-toggle>
  </ion-item>

  <button ion-fab color="{{isFlashOn ? 'danger' : 'light'}}" (click)="toggleFlashLight()">
    <ion-icon ios="ios-flash-outline" md="md-flash"> </ion-icon>
  </button>

</ion-content>