<ion-header>

  <ion-navbar transparent>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sharePhoto()">
        <ion-icon name="share-alt"></ion-icon>
      </button>
      <button ion-button icon-only (click)="download()">
        <ion-icon name="download"></ion-icon>
      </button>
      <button ion-button icon-only (click)="fullView()">
        <ion-icon name="expand"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content fullscreen>
  <div class="image" *ngIf="photo" [style.background-image]="'url('+photo.urls.full+')'">
  </div>

  <div padding *ngIf="photo">
    <p *ngIf="photo.description">{{photo.description}}</p>
    <p *ngIf="photo.categories.length">
      <ion-chip *ngFor="let item of photo.categories">
        <ion-label>{{item}}</ion-label>
      </ion-chip>
    </p>
    <div class="user-info">
      <ion-item no-padding>
        <ion-avatar item-start>
          <img [src]="photo.user.profile_image.medium">
        </ion-avatar>
        <h2>{{photo.user.name}}</h2>
        <p>
          <span *ngIf="photo.user.location"> {{photo.user.location}}, </span>
          {{photo.created_at | date}}
        </p>
      </ion-item>
      <p>{{photo.user.bio}}</p>
    </div>
  </div>
</ion-content>