<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Image Gallery</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="galleryType">
    <ion-segment-button value="grid"> Grid </ion-segment-button>
    <ion-segment-button value="pinterest"> pinterest </ion-segment-button>
    <ion-segment-button value="gallery"> gallery </ion-segment-button>
  </ion-segment>

  <div *ngIf="galleryType=='grid'">
    <ion-grid>
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of images">
          <div class="image-container" (click)="gotoDetails(image)" [style.background-image]="'url('+image.urls.small+')'"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="images" *ngIf="galleryType=='pinterest'">
    <div class="one-image" *ngFor="let image of images" (click)="gotoDetails(image)">
      <img [src]="image.urls.small" />
    </div>
  </div>

  <div class="image-gallery" *ngIf="galleryType=='gallery'">
    <ion-slides (ionSlideDidChange)="slideChanged()" centeredSlides="true">
      <ion-slide *ngFor="let image of images" [style.background-image]="'url('+image.urls.regular+')'">
      </ion-slide>
    </ion-slides>
    <br>
    <hr>

    <ion-slides class="image-slider" loop="true" slidesPerView="3" centeredSlides="true">
      <ion-slide *ngFor="let image of images; let i = index" (click)="gotoSlide(i)" >
        <img [src]="image.urls.regular" class="thumb-img" />
      </ion-slide>

    </ion-slides>
  </div>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadImages())">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>